.closeButton {
	cursor: pointer; 
    height: 40px; 
    width: 80px;
}
.window {
    border: solid black; 
    border-radius: 18px;
    margin: auto;
    background-color: #77C4E0;
    text-align: center;
    padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.header {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
}
.handle {
    width: 40px; 
    height: 40px;
}
.border {
  position: relative;
  border: 5px solid rgb(0, 0, 0);  
  margin: 20px;
}
.border:after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  background: #77C4E0;
  z-index: -1;
}
